<html>
<head>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js">
	
</script>
<script
	src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.red-blue.min.css" />
<script src="js/app.js"></script>
<script src="js/fileUpload.js"></script>
</head>
<body ng-app="myApp">
	<!-- Always shows a header, even in smaller screens. -->
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<!-- Title -->
				<span class="mdl-layout-title">Title</span>
				<!-- Add spacer, to align navigation to the right -->
				<div class="mdl-layout-spacer"></div>
				<!-- Navigation. We hide it in small screens. -->
				<nav class="mdl-navigation mdl-layout--large-screen-only">
					<a class="mdl-navigation__link" href="">Link</a> <a
						class="mdl-navigation__link" href="">Link</a> <a
						class="mdl-navigation__link" href="">Link</a> <a
						class="mdl-navigation__link" href="">Login</a>
				</nav>
			</div>
		</header>
		<div class="mdl-layout__drawer">
			<span class="mdl-layout-title">Title</span>
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" href="">Link</a> <a
					class="mdl-navigation__link" href="">Link</a> <a
					class="mdl-navigation__link" href="">Link</a> <a
					class="mdl-navigation__link" href="">Login</a>
			</nav>
		</div>
		<main class="mdl-layout__content">
		<div class="page-content">
			<!-- Your content goes here -->
			<div ng-controller="myCtrl">
				<button ng-click="button1()">Call the service</button>
				<div>{{ answer }}</div>


				<form method="POST" action="upload" enctype="multipart/form-data">
					File: <input type="file" name="file" id="file" multiple="multiple" />
					<br /> Destination: <input type="submit" value="Upload"
						name="upload" id="upload" />
				</form>

				<form action="cashew/file/upload" method="post"
					enctype="multipart/form-data">

					<p>
						Select a file : <input type="file" name="file" multiple="multiple" />
					</p>

					<input type="submit" value="Upload It" />
				</form>

				<form novalidate>
					First Name:<br> <input type="text" ng-model="user.username"><br>
					Last Name:<br> <input type="password" ng-model="user.password">
					<br> <br>
					<button ng-click="login()">login</button>
				</form>
				{{token}}
				
				<button ng-click="test()">test</button>
			</div>

		</div>
		</main>
	</div>

</body>
</html>